.info {
  color: $info;
  &-bg {
    background: $info;
  }
}

.success {
  color: $success;
  &-bg {
    background: $success;
  }
}

.warning {
  color: $warning;
  &-bg {
    background: $warning;
  }
}

.danger {
  color: $danger;
  &-bg {
    background: $danger;
  }
}

.dark-blue {
  color: $dark-blue;

  &-bg {
    background: $dark-blue;
  }
}

.white {
  color: $white;
}