.info {
  color: $info;
  &-bg {
    background: $info;
  }
}

.success {
  color: $success;
  &-bg {
    background: $success;
  }
}

.warning {
  color: $warning;
  &-bg {
    background: $warning;
    color: white;

  }
}

.danger {
  color: $danger;
  &-bg {
    background: $danger;
    color: white;

  }
}