.info {
  color: $info;
  &-bg {
    background: $info;
  }
}

.success {
  color: $success;
  &-bg {
    background: $success;
  }
}

.warning {
  color: $warning;
  &-bg {
    background: $warning !important;
    color: white;

  }
}

.danger {
  color: $white;
  background: rgba($danger, 0.75);
  font-weight: 700;
  &-bg {
    background: $danger;
    color: white;

  }
}

.circle-danger-bg {
  background: $danger;
}

.white {
  color: $white;
}