.navbar {
  margin-top: 20px;
  padding: 1.5em 1em;
  background: #006;

  .nav-item {
    padding: 0 10px;
    color: white;

    &:hover,
    &.router-link-active {
      font-weight: 700;
    }
  }
}